/* Sass Document */
/********** vars **********/
/*$font-main: 'Roboto Slab', sans-serif;*/
/********** mixins **********/
/********** styles **********/
body, html {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "adelle", serif; }

.bRealBak {
  width: 100%;
  height: 100%;
  background: url(../images/pho7119.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 0; }

.bListingW {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 10;
  color: #fff; }

.bListingW h1 {
  font-size: 42px;
  margin: 5px 0;
  padding: 0;
  text-shadow: 0px 0px 15px #333; }

.bListingW h2 {
  font-size: 36px;
  margin: 5px 0;
  padding: 0;
  text-shadow: 0px 0px 15px #333; }

.bListingW h3 {
  font-size: 24px;
  margin: 5px 0;
  padding: 0;
  text-shadow: 0px 0px 15px #333; }

.info {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  background-color: #fff;
  opacity: 0.6;
  z-index: 10;
  text-align: center;
  box-shadow: 0px 0px 15px #333; }

.info span {
  opacity: 1.0;
  font-size: 22px;
  color: #262626;
  z-index: 20;
  margin-top: 6px; }

.toDo {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  z-index: 10;
  box-shadow: 0px 0px 15px #333;
  display: none; }

.toDo .toDoBak {
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.6;
  z-index: 10; }

.toDo .infoG {
  position: absolute;
  font-size: 18px;
  color: #002a76;
  z-index: 20; }

.agentW {
  position: relevant;
  top: 0px;
  width: 300px;
  z-index: 10;
  color: #fff; }

.agentPho {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10; }

.agentName {
  position: absolute;
  top: 20px;
  left: 122px;
  z-index: 10;
  color: #002a76;
  font-size: 28px;
  font-weight: bold; }

.smCaps {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold; }

.smSmall {
  font-size: 11px;
  font-weight: normal; }

.houseW {
  position: absolute;
  top: 150px;
  left: 5px;
  width: 290px;
  padding: 0 8px;
  color: #262626;
  z-index: 20;
  background-color: #fff;
  opacity: 0.8;
  box-shadow: 0px 0px 20px #999;
  font-family: "adelle-sans", sans-serif; }

.houseAddress {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold; }

.houseAbout1 {
  font-size: 18px;
  line-height: 28px;
  font-weight: bold; }

.houseAbout2 {
  font-size: 14px;
  margin: 10px 0;
  padding: 0;
  line-height: 22px; }

.houseAbout2 ul {
  font-size: 14px;
  margin: 20px 0;
  padding: 0;
  padding-left: 16px;
  line-height: 22px; }

.icos {
  width: 100%;
  text-align: center; }

.icos span {
  margin: 0 5px;
  padding: 0;
  width: 100%;
  display: inline; }

.phoSwiper {
  z-index: 30;
  display: none; }

.icoX {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #262626;
  z-index: 20;
  opacity: 0.6; }

.vidSR {
  position: relative;
  width: 1280px;
  top: 100px;
  margin: 0 auto;
  padding: 0;
  z-index: 40; }

.vidS {
  position: absolute;
  width: 1280px;
  margin: 0 auto;
  padding: 0; }
